$font-stack: 'Open Sans', sans-serif;
$font_pt: 'ProximaNova-Regular', serif;
$primary-color: #eef2f6;
$light_grey: #a4a7a9;
$dark_grey: #242b2e;
$blue_color: #03a9f4;
$grey_btn: #647688;
$place_holder: #dee5ec;
$dark_grey_rgba: rgba(36, 43, 46, 0.8);
$black_shadow_rgba: rgba(0, 0, 0, 0.1);
$slide_background_color: rgba(239, 241, 242, 0.8);
$white_background: #fff;
$bg_tab: #f6f8fa;
$bg_light_grey: #eef0f4;

$gradnt_dark_blue1: #53d1ef;
$gradnt_dark_blue2: #1976d2;
$gradnt_orange1: #edc97d;
$gradnt_orange2: #e3755a;
$gradnt_light_blue1: #03a9f4;
$gradnt_light_blue2: #7df4d4;
$gradnt_green1: #2bd9de;
$gradnt_green2: #2bde73;
$gradnt_pink1: #d39beb;
$gradnt_pink2: #ea1579;

$fb_icn: #3d5a96;
$twitter_icn: #2aa3ef;
$link: #91a8bf;

$fnt8: 8px;
$fnt10: 10px;
$fnt12: 12px;
$fnt14: 14px;
$fnt16: 16px;
$fnt18: 18px;
$fnt20: 20px;
$fnt22: 22px;
$fnt24: 24px;
$fnt28: 28px;
$fnt36: 36px;
$fnt38: 38px;
$container_max_wdth: 1022px;
